<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.noveli.modulo_15_sqlite">
   <application
        android:label="modulo_15_sqlite"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:fullBackupOnly="false"
        android:allowBackup="false"> <!-- A partir de uma versão do android, o SO começou a criar backups na nuvem dos dados do app, de todo arquivo
        utilizado e isso pode causar problemas para o app, pois pode ser que tenha um arquivo para saber se o cara está logado no sistema e ao
        desinstalar o app e instalar de novo o arquivo em questão vai ser restaurado do backup e o cara vai dar que está logado no app ainda.
        Por isso está sendo desabilitado aqui nessas duas propriedades -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
